
<body>
  <div align'"center class="search-box">
    <div align="center" class="poke-title">
      <h1>Welcome to the Pokémon App</h1>
    </div align="center">

    <div align="center" class="poke-form">
      <p>Get started by searching for a Pokémon by name or number:</p>
      <%= form_tag '/pokemon', method: :get do %>
        <div align="center" class="poke-search">
          <%= text_field_tag :pokemon %>
          <%= submit_tag "Search" %>
        </div align="center">
      <% end %>

      <div align="center">
  <h2>Manage Your Pokémon Teams</h2>
  <%= link_to 'View All Teams', teams_path %>
  <%= link_to 'Create a New Team', new_team_path %>
</div>
    </div align="center">
  </div>
</body>